@use "@libs/styles/library" as *;
.affiliate .affiliate-rights {
    background-color: var(--section-background);
    div {
        @include setFlex(space-between, center);
        max-width: 1120px;
        margin: 0 auto;
        padding: 80px 0;
        @include mediumScreen {
            @include setFlex(flex-end, center, column-reverse);
            padding: 80px 20px;
        }
        @include smallScreen {
            @include setFlex(flex-end, center, column-reverse);
            padding: 80px 35px;
        }
    }
    aside {
        position: relative;
        @include mediumScreen {
            margin-top: 40px;
        }
        @include smallScreen {
            margin-top: 40px;
        }
        &::before {
            @include setPseudo();
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: radial-gradient(var(--gradient-halo));
            opacity: 0.5;
        }
        img {
            position: relative;
            z-index: 10;
            @include smallScreen {
                width: 618px;
                height: 508px;
            }
        }
    }
    article {
        width: 100%;
        max-width: 500px;
        @include mediumScreen {
            width: 100%;
            max-width: none;
        }
        @include smallScreen {
            width: 100%;
            max-width: none;
        }
        h3 {
            @include setFont(30px, 42px, var(--font-title-color), 700);
            @include smallScreen {
                font-size: 48px;
                line-height: 68px;
            }
        }
        p {
            @include setFont(15px, 26px, var(--font-subtitle-color));
            margin-top: 20px;
            @include smallScreen {
                margin-top: 32px;
                font-size: 24px;
                line-height: 42px;
            }
        }
        ul {
            margin-top: 15px;
            @include smallScreen {
                margin-top: 24px;
            }
        }
        li {
            @include setFont(15px, 26px, var(--font-desc-color));
            position: relative;
            padding-left: 10px;
            @include smallScreen {
                font-size: 24px;
                line-height: 42px;
            }
            &::before {
                @include setPseudo();
                position: absolute;
                left: 3px;
                top: 12px;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: currentColor;
                @include smallScreen {
                    top: 18px;
                    width: 4px;
                    height: 4px;
                }
            }
        }
        span {
            color: var(--font-highlight-color);
        }
    }
}