@use "@libs/styles/library" as *;
#affiliate .affiliate-advantage {
    @include setFlex(center, center, column);
    padding: 80px 0;
    h3 {
        @include setFont(30px, 42px, var(--font-title-color), 700);
        @include smallScreen {
            font-size: 48px;
            line-height: 68px;
        }
    }
    div {
        box-sizing: border-box;
        max-width: 1120px;
        margin: 50px auto 0;
        padding: 0 20px;
        @include smallScreen {
            overflow: auto;
            width: 100%;
            max-width: none;
            margin-top: 80px;
        }
    }
    table {
        width: 100%;
        @include smallScreen {
            width: 2640px;
        }
    }
    th {
        @include setFont(16px, 22px, var(--font-title-color));
        padding: 10px;
        background-color: var(--table-header-background);
        text-align: center;
        word-wrap: break-word;
        white-space: pre-line;
        @include smallScreen {
            padding: 15px;
            font-size: 24px;
            line-height: 34px;
        }
    }
    td {
        @include setFont(16px, 22px, var(--font-title-color));
        padding: 10px;
        border-top: 2px solid var(--background-color);
        border-right: 2px solid var(--background-color);
        background-color: var(--table-body-background);
        text-align: center;
        word-wrap: break-word;
        @include smallScreen {
            padding: 15px;
            font-size: 22px;
            line-height: 32px;
        }
        &:last-child {
            border-right: none;
        }
    }
    span {
        @include setFont(12px, 18px, #FF4646);
        @include smallScreen {
            font-size: 18px;
            line-height: 26px;
        }
    }
    strong {
        @include setFont(12px, 18px, var(--font-title-color));
        @include smallScreen {
            font-size: 18px;
            line-height: 26px;
        }
    }
    svg {
        margin: 0 auto;
        @include smallScreen {
            width: 30px;
            height: 22px;
            &.advantage-icon_no {
                width: 22px;
            }
        }
    }
}