@use "@libs/styles/library" as *;
.ui-modal {
    @keyframes ellipsis {
        to {
            width: 1.25em;
        }
    }
    .ui-modal_container {
        overflow: hidden;
        border-radius: 16px;
        background-color: #283C56;
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: .35);
    }
    .ui-modal_btn {
        display: block;
        cursor: pointer;
    }
    .ui-modal_btns {
        @include setBtn(100px, 36px, 16px, #fff, var(--ui-btn-default), var(--pc-btn-radius));
        &:disabled {
            cursor: not-allowed;
        }
        &.modal-btns_default {
            background-color: var(--ui-btn-default);
        }
        &.modal-btns_default:hover,
        &.modal-btns_default:disabled {
            background-color: var(--ui-btn-default-hover);
        }
        &.modal-btns_default:disabled {
            cursor: not-allowed;
            background-color: var(--ui-btn-default-hover);
        }
        &.modal-btns_primary {
            background-image: var(--ui-btn-primary);
        }
        &.modal-btns_primary:hover,
        &.modal-btns_primary:disabled {
            background-image: var(--ui-btn-primary-hover);
        }
        & .modal-btns_loading {
            width: 1.25em;
            margin-left: 2px;
            text-align: left;
            &::before {
                content: "\2026";
                overflow: hidden;
                display: inline-block;
                width: 0px;
                vertical-align: bottom;
                animation: ellipsis steps(4, end) 1s infinite;
            }
        }
    }
    .ui-modal_title {
        @include setFlex(space-between);
        @include setFont(16px, 22px, #81A0CB, 700);
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 50px;
        padding: 0 30px;
        background-color: #202F42;
        &::before {
            @include setPseudo();
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #02996A, #283C56);
        }
        dd {
            @include setFlex();
            width: 40px;
            height: 40px;
            transform: translateX(14px);
            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
    .ui-modal_content {
        padding: 30px;
    }
}