$pcGridsItemSize: 70px;
$pcGridsItemBorder: 2px;
$mobileGridsItemSize: 98px;
$mobileGridsItemBorder: 4px;
$gridsItemRadius: 8px;
$gridsItemBackgroundColor: #10223e;
$gridsItemBorderColor: #10223e;
$gridsItemDisabledColor: #10223e;
$gridsItemPrizeColor: #324769;
$gridX: 7;
$gridY: 6;
$time: 0.6s;
$delayTime: 0.3s;
$pcBackgroundSize: 900px;
$pcFrameSize: 480px;
$pcSignSize: 386px;
$pcSignActiveSize: 420px;
$pcAwardSize: 76px;
$pcAwardActiveSize: 220px;
$pcInfoTitleFontSize: 24px;
$pcInfoTitleLineHeight: 34px;
$pcInfoAmountFontSize: 28px;
$pcInfoAmountLineHeight: 38px;
$pcInfoIconSize: 26px;
$pcInfoSizeWidth: 300px;
$pcInfoSizeHeight: 180px;