@use "@libs/styles/library" as *;
.ui-modal .modal-wallet_link {
    width: 448px;
    @include smallScreen {
        width: 708px;
    }
    ul {
        padding: 30px;
        li {
            @include setFlex(space-between);
            cursor: pointer;
            box-sizing: border-box;
            height: 50px;
            margin-bottom: 10px;
            padding: 0 20px;
            border-radius: 8px;
            border: 1px solid transparent;
            background-color: #3D5678;
            @include smallScreen {
                height: 90px;
                padding: 0 36px;
                border-radius: 6px;
                border-width: 2px;
            }
            &:hover {
                border-color: #02996A;
            }
            &:last-child {
                margin-top: 0;
            }
            span {
                @include setFont(16px, 22px, #fff);
                @include smallScreen {
                    font-size: 26px;
                    line-height: 37px;
                }
            }
        }
    }
    .icon-metaMask {
        width: 28px;
        height: 26px;
        @include smallScreen {
            width: 50px;
            height: 46px;
        }
    }
    .icon-walletConnect {
        width: 34px;
        height: 20px;
        @include smallScreen {
            width: 50px;
            height: 31px;
        }
    }
    .icon-coinbase {
        width: 30px;
        height: 30px;
        @include smallScreen {
            width: 50px;
            height: 50px;
        }
    }
}