@use "@libs/styles/library" as *;
.ui-header {
    &_nav {
        @include setFlex(flex-start, center);
        @include setFont(16px, 22px, var(--ui-header-nav));
        .header-nav_item {
            padding: 0 10px;
        }
        .header-nav_link {
            position: relative;
            height: 30px;
            padding: 8px 5px;
            color: currentColor;
            &:hover {
                color: var(--ui-header-hover);
            }
            &::before {
                @include setPseudo();
                $height: 4px;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 100%);
                width: 0;
                height: $height;
                border-radius: calc($height / 2);
                background-color: var(--ui-header-hover);
                transition: width var(--animation-duration);
            }
            &.active::before {
                width: 100%;
            }
        }
    }
}