@use "@app/libs/styles/library" as *;
@import "normalize.css";
@import "@app/libs/styles/reset";
@import '@app/theme.scss';
.test {
    color: #fff;
    @include smallScreen {
        font-size: 32px;
    }
    @include mediumScreen {
        font-size: 20px;
    }
    @include largeScreen {
        font-size: 16px;
    }
}

.home-icon1 {
    width: 98px;
    height: 96px;
}

.fontGradient {
    @include setFontGradient('0deg', '#fdf8c9', '#c19431');
    font-size: .28rem;
    line-height: .38rem;
}