@use "@libs/styles/library" as *;
#promotions .promotions-nothing {
    @include setFlex(center, center, column);
    width: 100%;
    height: 500px;
    border-radius: 16px;
    background-color: #161f2c;
    svg {
        width: 138px;
        height: 138px;
    }
    span {
        @include setFont(16px, 22px, #7286a6);
        display: block;
        margin-top: 10px;
    }
    @include smallScreen {
        background-color: transparent;
        span {
            margin-top: 18px;
            font-size: 26px;
            line-height: 38px;
        }
    }
}